.dark-theme {
	--colour-background: #383838;
	--colour-secondary: #474747;
	--colour-tertiary: #3d3d3d;
	--colour-highlight: #ff6714;
	--colour-highlight-alt: #6745ff;
	--colour-shadow: #242424;
	--colour-shadow-2: #242424;
	--font-colour: #fafafa;
}

body {
	--colour-background: white;
	--colour-secondary: #f0f0f0;
	--colour-tertiary: #fafafa;
	--colour-highlight: #0095ff;
	--colour-highlight-alt: #ffc445;
	--colour-shadow: #e0e0e0;
	--colour-shadow-2: #adadad;
	--font-colour: #363636;
	font-family: Helvetica Neue, Arial;
	line-height: 20px;
	text-align: center;
	margin: 0 40px;
	color: var(--font-colour);
	background-color: var(--colour-background);
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	margin: 0 -40px 30px -40px;
	padding: 1px 40px 10px 40px;
	justify-content: center;
	-webkit-box-shadow: 0 0 10px var(--colour-shadow);
    box-shadow: 0 0 10px var(--colour-shadow);
}

#theme-button {
	font-weight: bold;
	position: fixed;
	top: 4vh;
	right: 4vh;
	background-color: var(--colour-background);
	-webkit-box-shadow: 0 0 10px var(--colour-shadow);
    box-shadow: 0 0 10px var(--colour-shadow);
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s ease;
	cursor: pointer;
}

#theme-button:hover {
	color: var(--colour-highlight);
}

h1 {
	font-size: 38px;
	padding: 10px 0px 0px 0px;
	text-shadow: 0px 4px 4px var(--colour-shadow);
}

h2 {
	font-size: 22px;
	padding-top: 10px;
}

a {
	text-decoration: none;
}

#sub {
  	font-size: 14px;
  	font-style: italic;
}

.columns {
	display: flex;
}

.left-column {
	float: left;
	width: 69%
}

.right-column {
	float: right;
	width: 30%;
}

.languages-card,
.skills-card,
.education-card,
.info-card,
.other-card,
.other-card-2 {
	margin: 10px;
	padding: 20px;
	max-width: 750px;
	border-top: 6px var(--colour-highlight) solid;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px var(--colour-shadow);
    box-shadow: 0 0 10px var(--colour-shadow);
}

.info-card,
.other-card,
.other-card-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 6px var(--colour-highlight-alt) solid;
}

.info-card img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.other-card-2 {
	display: none;
}

.skillsSub {
	font-size: 13px;
	font-style: italic;
	margin-top: -10px;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 20px auto 10px auto;
	max-width: 700px;
}

.skill {
	background-color: var(--colour-secondary);
	color: var(--font-colour);
	width: 120px;
	padding: 5px;
	border-radius: 10px;
	font-weight: bold;
	transition: 0.3s;
	margin: 0 auto 10px auto;
}

.skill:hover {
	width: 130px;
	color: var(--colour-highlight);
	background-color: var(--colour-background);
	-webkit-box-shadow: 0 0 10px var(--colour-shadow-2);
    box-shadow: 0 0 10px var(--colour-shadow-2);
}

.skill-descriptor {
	background-color: var(--colour-secondary);
	border-radius: 15px;
	padding: 5px 35px;
	max-width: 600px;
	margin: auto;
}

#language-line {
	font-style: italic;
	font-size: 14px;
	color: var(--colour-highlight);
	margin-top: 5px;
}

.education {
	background-color: var(--colour-secondary);
	margin: 0 -40px;
	padding: 5px 0px;
}

#table-container {
	margin: 0px 30px;
}

.education-table {
	text-align: left;
	margin: auto;
	max-width: 700px;
	grid-template-columns: 25% 75%;
	display: grid;
}

.uni {
	font-weight: bold;
	color: var(--font-colour);
	transition: all 0.3s ease;
	border-bottom: 2px var(--colour-background) solid;
	border-radius: 1px;
}

.uni:hover {
	color: var(--colour-highlight);
	text-shadow: 0px 2px 4px var(--colour-shadow);
	border-bottom: 2px var(--colour-highlight) solid;
}

sup {
	font-size: 10px;
}

footer {
	font-style: bold;
	margin: 40px auto 60px auto;
}

footer p {
	margin: 30px;
}

#email {
	padding: 10px;
	color: var(--colour-background);
	background-color: var(--colour-highlight);
	border: 1px var(--colour-background) solid;
	border-radius: 10px;
	transition: all 0.3s ease;
}

#email:hover {
	color: var(--colour-highlight);
	background-color: var(--colour-background);
	border: 1px var(--colour-highlight) solid;
	-webkit-box-shadow: 0 0 10px var(--colour-shadow);
    box-shadow: 0 0 10px var(--colour-shadow);
}

@media screen and (max-width: 940px) {
	.columns {
		flex-direction: column-reverse;
	}
	.left-column, .right-column {
		width: 100%;
	}
	.info-card {
		flex-direction: row;
	}
	.info-card img {
		margin-right: 10px;
	}
	.other-card {
		display: none;
	}
	.other-card-2 {
		display: block;
	}
}
